[submodule "firmware/st7789/stm32-st7789"]
	path = firmware/st7789/stm32-st7789
	url = git@github.com:lbthomsen/stm32-st7789.git
[submodule "firmware/nrf24l01master/stm32-st7789"]
	path = firmware/nrf24l01master/stm32-st7789
	url = git@github.com:lbthomsen/stm32-st7789.git
[submodule "firmware/nrf24l01master/stm32-nrf24l01"]
	path = firmware/nrf24l01master/stm32-nrf24l01
	url = git@github.com:lbthomsen/stm32-nrf24l01.git
[submodule "firmware/leds/stm32-ws2812b"]
	path = firmware/leds/stm32-ws2812b
	url = git@github.com:lbthomsen/stm32-ws2812b.git
[submodule "firmware/ws2812panel/stm32-ws2812b"]
	path = firmware/ws2812panel/stm32-ws2812b
	url = git@github.com:lbthomsen/stm32-ws2812b.git
[submodule "firmware/ws2812panel2/stm32-ws2812b"]
	path = firmware/ws2812panel2/stm32-ws2812b
	url = git@github.com:lbthomsen/stm32-ws2812b.git
